In [41]:
import sqlite3
import pandas as pd
import json
import secrets
import numpy as np
import tools
import os
import constants
import plotly.express as px
from datetime import datetime

In [26]:
DB_NAME = constants.DB_NAME
SECRETS_FILE = constants.SECRETS_FILE

In [27]:
def generate_predictions(filename):
    data = pd.read_csv(constants.REF_DATA_PATH)
    data["Yield"] += np.random.normal(0, 0.1, data.shape[0])    
    data.to_csv(filename, index=False, header=False)
    return data
generate_predictions("test.txt")

          Yield
0     57.892920
1     66.519456
2     65.959196
3     64.627153
4     63.456651
...         ...
1667  70.267449
1668  69.145273
1669  78.153971
1670  82.743200
1671  82.863227

[1672 rows x 1 columns]

## Open the DB

In [60]:
def add_secrete_user(filename,group_id):
    with open(filename,"a") as f:
        f.write(f"{group_id} = \"{secrets.token_urlsafe(16)}\"\n")
        
def generate_secret_file(filename,groups):
    data= "[passwords]\n"
    for group_id, password in zip(groups["group_id"],groups["password"]):
        group_id = group_id.replace(" ","_")
        data += f"{group_id} = \"{password}\"\n"
    with open(filename,"w") as f:
        f.write(data)

def generate_group_table(filename):
    with open(filename) as f:
        data = json.load(f)
    for group_id in data.keys():
        for key,value in data[group_id].items():
            if type(value) == list:
                data[group_id][key] = ','.join(value)
    groups = [{"group_id":key, **value ,"password":secrets.token_urlsafe(16)} for key,value in data.items()]
    if not os.path.exists(".streamlit"):
        os.makedirs(".streamlit")
    groups = pd.DataFrame(groups)
    generate_secret_file(SECRETS_FILE,pd.DataFrame(groups))
    groups.drop(columns=["password"],inplace=True)
    return groups

def generat_dummy_scores(group_table, n=10):
    scores = []
    for group_id in group_table["group_id"]:
        for i in range(n):
            scores.append({
                "group_id":group_id,
                "score":np.random.random()*100,
                "date":pd.Timestamp.now()
            })
    scores = pd.DataFrame(scores)
    return scores

def create_scrore_table(db_name,group_table,n=10):
    conn = sqlite3.connect(db_name)
    if n>0:
        scores = generat_dummy_scores(group_table,n)
        scores.to_sql("score",conn,if_exists="replace",index=False)
    else:
        cur = conn.cursor()
        cur.execute("CREATE TABLE score (group_id TEXT, score REAL, date TEXT)")
        conn.commit()
    conn.close()

In [30]:




if os.path.exists(DB_NAME):
    os.remove(DB_NAME)
    db_infos = tools.read_db(DB_NAME)
else:
    print("Creating new database")
    group_table = generate_group_table('groups.json')
    group_table.to_sql('group',sqlite3.connect(DB_NAME),index=False)
    create_scrore_table(DB_NAME,group_table,0)
    add_secrete_user(SECRETS_FILE,"admin")
    db_infos = tools.read_db(DB_NAME)

Creating new database

In [33]:
db_infos['group']

,group_id,names,emails
0,group 1,"Mehdi ALLANI,Rayane HAMAIDI","Mehdi.ALLANI@etu.uca.fr,Rayane.HAMAIDI@etu.uca.fr"
1,group 2,"KASMI Boutayna,ZERIATE Rim","Boutayna.KASMI@etu.uca.fr,Rim.ZERIATE@etu.uca.fr"
2,group 3,"AOUAMEUR Idris,EL QAZBANI Hicham","Idris.AOUAMEUR@etu.uca.fr,Hicham.EL_QAZBANI@et..."
3,group 4,"AOUDIA Mahdi,BASTI Mohamed Fares","Mahdi.AOUDIA@etu.uca.fr,Mohamed_Fares.BASTI@et..."
4,group 5,"BASTI Chaima,BENJELLOUN HARZIMI Ziad","Chaima.BASTI@etu.uca.fr,Ziad.BENJELLOUN_HARZIM..."

In [31]:
scores = db_infos["score"]
scores

Empty DataFrame
Columns: [group_id, score, date]
Index: []

In [32]:
scores.groupby("group_id", as_index=False).min().sort_values("score", ascending=True)

Empty DataFrame
Columns: [group_id, score, date]
Index: []

In [41]:
def get_leaderboard(db_filename):
    db_infos = tools.read_db(db_filename)
    scores = db_infos["score"].groupby("group_id", as_index=False).min().sort_values("score", ascending=True).reset_index(drop=True)
    scores["date"] = pd.to_datetime(scores["date"])
    scores["date"] = scores["date"].dt.strftime('%Y-%m-%d %H:%M:%S')
    scores["names"] = db_infos["group"].set_index("group_id").loc[scores["group_id"]]["names"].apply(lambda x: x.replace(",", ", ")).values
    #scores = scores.drop("group_id", axis=1)
    scores.loc[0,"group_id"] = "ðŸ‘‘ "+ scores.loc[0,"group_id"]
    scores.index = scores.index + 1
    return scores[["group_id","names", "score", "date"]]
get_leaderboard(DB_NAME)

    group_id                         names      score                 date
1  ðŸ‘‘ group 2   KASMI Boutayna, ZERIATE Rim  14.461390  2024-03-22 12:18:54
2    group 1  Mehdi ALLANI, Rayane HAMAIDI  29.018391  2024-03-22 12:18:54

In [45]:
scores

   group_id      score                 date
0   group 1  98.360343  2024-03-22 12:18:54
1   group 1  99.405332  2024-03-22 12:18:54
2   group 1  76.313697  2024-03-22 12:18:54
3   group 1  69.079126  2024-03-22 12:18:54
4   group 1  91.921431  2024-03-22 12:18:54
5   group 1  71.997889  2024-03-22 12:18:54
6   group 1  91.515681  2024-03-22 12:18:54
7   group 1  29.018391  2024-03-22 12:18:54
8   group 1  68.734166  2024-03-22 12:18:54
9   group 1  69.465118  2024-03-22 12:18:54
10  group 2  51.163984  2024-03-22 12:18:54
11  group 2  94.809997  2024-03-22 12:18:54
12  group 2  78.414932  2024-03-22 12:18:54
13  group 2  82.472621  2024-03-22 12:18:54
14  group 2  18.045104  2024-03-22 12:18:54
15  group 2  14.461390  2024-03-22 12:18:54
16  group 2  26.787176  2024-03-22 12:18:54
17  group 2  32.267652  2024-03-22 12:18:54
18  group 2  46.250995  2024-03-22 12:18:54
19  group 2  16.783475  2024-03-22 12:18:54

In [44]:
group_id = "group 2"
px.line(scores[scores["group_id"]==group_id], x="date", y="score", title=f"Score evolution for {group_id}")

In [6]:
groups = db_infos["group"]

In [35]:
group_id = "group 1"

In [38]:
db = sqlite3.connect(constants.DB_NAME)
data = db.execute(f"SELECT date FROM 'score' WHERE group_id = '{group_id}';").fetchall()
db.commit()
db.close()

In [45]:
data [0][0] 
datetime.strptime(data[0][0],)

TypeError: strptime() takes exactly 2 arguments (1 given)

In [53]:
def get_last_submission_date(filename, group_id):
    db = sqlite3.connect(filename)
    data = db.execute(f"SELECT date FROM 'score' WHERE group_id = '{group_id}';").fetchall()
    db.commit()
    db.close()
    if len(data) == 0:
        return None
    return datetime.strptime(data[0][0], '%Y-%m-%d %H:%M:%S.%f')

In [55]:
last_submissionlast_submission_date = get_last_submission_date(constants.DB_NAME, "group 1")
time_diff = datetime.now() - last_submissionlast_submission_date

In [52]:
get_last_submission(constants.DB_NAME, "group 2")

In [59]:
time_diff.seconds/3600>1

0.2075

In [73]:
db_test = tools.read_db("/Users/adrien/Downloads/database.db")

In [74]:
db_test["score"]

  group_id     score                        date
0  group 1  0.010402  2024-03-25 08:46:44.216403